* {
  box-sizing: border-box;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  font-style: 14px;
  line-height: 18px;
  color: #8d8f92;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
nav {
  display: block;
}

.header{
  background-color: #293338;
}

.header__top {
  padding: 22px 0px 22px;
}

.header__logo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header__top__inner {
  display: flex;
  justify-content: space-between;
}

.menu li {
  display: inline-block;
}

.menu a {
  text-transform: uppercase;
  border: 2px solid transparent;
  color: #a4aead;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 15px;
}

.menu .active {
  border: 2px solid #23b7a4;
  border-radius: 5px;
  color: #23b7a4;
}

.menu a:hover {
  border: 2px solid #a4aead;
  border-radius: 5px;
  color: #a4aead;
}

.menu li + li {
  padding-left: 10px
}

.slider {
  background-image: url(../img/Pen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 661px;
}

.slider__item {
  text-align: left;
  padding-top: 238px;
  max-width: 700px;
  letter-spacing: 1.5;
}

.slider__title {
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 30px;
}

.slider__text {
  font-size: 16px;
  line-height: 26px;
  color: #ccd0d7;
  margin-bottom: 45px;
}

.slider__buttons {
  display: flex;
}
.slider__btn_1,
.slider__btn_2 {
  color: #ffffff;
  text-transform: uppercase;
  padding: 17px 23px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.slider__buttons .slider__btn_1 + .slider__btn_2 {
  margin-left: 10px;
}

.slider__btn_1:hover,
.slider__btn_2:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
  border-radius: 5px;
}

.about__item {
  display: flex;
  justify-content: space-between;
}

.about__item__description {
  text-align: left;
  padding-top: 80px;
  max-width: 622px;
  letter-spacing: 1.5;
}

.about__title {
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: #292f36;
  font-weight: 700;
  margin-bottom: 62px;
  padding-left: 12px;
  border: 0px solid #c8cdd0;
  border-left-width: 10px;
}

.about__text {
  margin-bottom: 108px;
}

.about__text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.about__text p + p {
  margin-top: 40px;
}

.about__social__link {
  margin-bottom: 100px;
  display: flex;
}

.about__social__link a {
  width: 60px;
  height: 60px;
  background-color: #c8cdd0;
  border: 0px solid #ffffff;
  border-right-width: 1px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__social__link a:hover {
  background-color: #d0d5d9;
}

.about__item__advantage {
  margin-top: 176px;
  max-width: 457px;
}

.about__item .about__item__description + .about__item__advantage {
  margin-left: 60px;
} 

.cubes__list {
  display: flex;
}

.cubes__list .cube + .cube {
  margin-top: 60px;
}

.cube {
  margin-top: 12px;
}

.cube img {
  width: 50px;
  height: 50px;
}

.cube__specification {
  max-width: 390px;
  margin-bottom: 23px;
  margin-left: 17px;
}

.cube__title {
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #292f36;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 42px;
  font-weight: 700;
}

.cube__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.team {
  margin: 80px 0px 60px 0px;
  padding: 0;
}

.team__title {
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: #292f36;
  font-weight: 700;
  margin-bottom: 60px;
  padding-left: 12px;
  border: 0px solid #c8cdd0;
  border-left-width: 10px;
}

.list__team {
  display: flex;
}

.member__team__specialist{
  width: 262px;
  height: 376px;
  background-color: #fff;
}

.list__team .member__team__specialist + .member__team__specialist {
  margin-left: 30px;
}

.team__social__link {
  padding: 125px 55px;
  display: flex;
}

.team__social__link a {
  text-decoration: none;
  background-color: #3a454d;
  color:#ffffff;
  width: 50px;
  height: 50px;
  margin: 0 1px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .6s;
}

.member__team__specialist:hover .team__social__link a {
  opacity: 1;
}

.team__social__link a:hover {
  background-color: #4e5a62;
}

.team__photo__one {
  width: 262px;
  height: 300px;
  background-image: url(/img/1man.jpg);
}
.team__photo__two {
  width: 262px;
  height: 300px;
  background-image: url(/img/2man.jpg);
}
.team__photo__three {
  width: 262px;
  height: 300px;
  background-image: url(/img/3girl.jpg);
}
.team__photo__four {
  width: 262px;
  height: 300px;
  background-image: url(/img/4man.jpg);
}

.member__team {
  width: 262px;
  height: 96px;
  padding: 20px;
  background-color: #e1e6ea;
}

.member__team__name {
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  line-height: 35px;
  color: #292f36;
  font-weight: 700;
}

.member__team__profession {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.member__team__specialist:hover .member__team .member__team__name{
  color: #ffffff;
}

.member__team__specialist:hover .member__team  {
  background-color: #3a454d;
  color: #ffffff;
  transition: .6s;
}

.lovely__work {
  margin: 0;
  padding: 80px 0px 80px;
  background-color: #3a454d;
}

.lovely__work__title {
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 60px;
  padding-left: 12px;
  border: 0px solid #4e5a62;
  border-left-width: 10px;
}

.lovely__work__portfolio {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
}

.lovely__work__portfolio .work__pictures {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__picture__one {
  width: 360px;
  height: 265px;
  background-image: url(/img/lovely-work-1.jpg);
}

.portfolio__picture__two {
  width: 360px;
  height: 265px;
  background-image: url(/img/lovely-work-2.jpg);
}

.portfolio__picture__three {
  width: 360px;
  height: 265px;
  background-image: url(/img/lovely-work-3.jpg);
}

.portfolio__picture__four {
  width: 360px;
  height: 265px;
  background-image: url(/img/lovely-work-4.jpg);
}

.portfolio__picture__five {
  width: 360px;
  height: 265px;
  background-image: url(/img/lovely-work-5.jpg);
}

.portfolio__picture__six {
  width: 360px;
  height: 265px;
  background-image: url(/img/lovely-work-6.jpg);
}

.plus__btn {
  width: 360px;
  height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
}

.plus__btn a {
  font-size: 30px;
  color: #ffffff;
  opacity: 0;
  transition: .6s;
}

.portfolio__picture__title {
  text-transform: uppercase;
  padding: 24px 20px;
  background-color: #292f36;
  opacity: 0;
  transition: .6s;
}

.work__btn {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.work__btn .show__me_more{
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  padding: 16px 20px;
  font-weight: 700;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__picture__one .plus__btn:hover a,
.portfolio__picture__two .plus__btn:hover a,
.portfolio__picture__three .plus__btn:hover a,
.portfolio__picture__four .plus__btn:hover a,
.portfolio__picture__five .plus__btn:hover a,
.portfolio__picture__six .plus__btn:hover a  {
  transition: .6s;
  opacity: 1;
}

.portfolio__picture__one:hover,
.portfolio__picture__two:hover,
.portfolio__picture__three:hover,
.portfolio__picture__four:hover, 
.portfolio__picture__five:hover,
.portfolio__picture__six:hover {
  transition: .6s;
  cursor: pointer;
  opacity: 0.6;
}

.portfolio__picture__one:hover .portfolio__picture__title,
.portfolio__picture__two:hover .portfolio__picture__title,
.portfolio__picture__three:hover .portfolio__picture__title,
.portfolio__picture__four:hover .portfolio__picture__title,
.portfolio__picture__five:hover .portfolio__picture__title,
.portfolio__picture__six:hover .portfolio__picture__title {
  transition: .6s;
  color: #ffffff;
  opacity: 1;
}

.work__btn {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.work__btn .show__me_more{
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  padding: 16px 20px;
  font-weight: 700;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show__me_more:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
  border-radius: 5px;
  color: #ffffff;
}