body {
  font-family: Arial;
  margin: 0px auto;
}

div.logo {
  font-weight: bold;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;;
  margin: 0px auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
nav div {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  width: 70%;
  margin: 0px auto;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a{
  font-size: 0.8em;
  text-decoration: none;
  margin: 5px 8px 5px 8px;
  padding: 5px 8px 5px 8px;
  color: lightgray;
  border: 1px solid rgba(51, 48, 48, 0);
  border-radius: 4px;
}

nav ul li a:hover{
  border: 1px solid lightgray;
  color: lightgray;
  border-radius: 4px;
}

nav ul li a.active{
  border: 1px solid rgb(20, 165, 145);
  border-radius: 4px;
  color:rgb(34, 206, 236);
}

.container {
  width: 100%;
  margin-top: 0px;
  padding: 0px;
}

.background-URL {
  background: url(/images/Pen.jpg) no-repeat center top;  
  background-size: cover;
}

.header-content  {
  width: 70%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-content .header {
  margin: 150px 300px 150px 0px; 
  color: white;
}

.header-content .header-buttons {
  display: flex;
 
}

.header-content .header-buttons div{
  width: 80px;
  height: 30px;
  font-size: .8em;
  text-transform: uppercase;
  margin: 0px 5px 0px 5px;
  color:white;
  border: 1px solid white;
  border-radius: 4px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-content .header-buttons div:hover{
  cursor: pointer;
  background-color: rgb(20, 165, 145);
  border: 1px solid rgb(20, 165, 145);
}

.section-title {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section-title .lists {
  display: flex;
  font-size: .8em;
}

.section-title .lists .before-title {
  width: 5px;
  height: 10px;
  background-color: gray;
  color: red;
}

.section-title .lists .description-list {
  width: 60%;
}

.section-title .lists .description-list .five-icons  {
  font-family: Verdana;
  font-size: 1.5em;
  display: flex;
}

.section-title .lists .description-list .five-icons div {
  width: 45px;
  height: 45px;
  color: white;
  background-color: rgb(179, 178, 178);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title .lists .description-list .five-icons div:hover {
  background-color: lightgray;
  cursor: pointer; 
}

.section-title .lists .number-list {
  width: 40%;
  margin: auto;
}
.section-title .lists .number-list .cube {
  width: 40px;
  height: 40px;
  margin: 17px;
  background-color: rgb(20, 165, 145);
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-around;
}





