@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body {
  font-family: Roboto;
  margin: 0px auto;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
}

br {
  height: 100px;
}

div.logo {
  font-weight: bold;
  color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9); 
}
nav div {
  display: flex;
  justify-content: space-between; 
}

.nav-container {
  width: 70%;
  margin: 0px auto;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a{
  font-size: 0.8em;
  text-decoration: none;
  margin: 5px 8px 5px 8px;
  padding: 5px 8px 5px 8px;
  color: lightgray;
  border: 1px solid rgba(51, 48, 48, 0);
  border-radius: 4px;
}

nav ul li a:hover{
  border: 1px solid lightgray;
  color: lightgray;
  border-radius: 4px;
}

nav ul li a.active{
  border: 1px solid rgb(20, 165, 145);
  border-radius: 4px;
  color:rgb(34, 206, 236);
}

nav button {
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  display: none;
  outline: none;
}

nav button:hover {
  cursor: pointer; 
}

nav button .line {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  margin: 5px 0;
}

nav .drawer {
  display: none;
  flex-wrap: wrap;
  transform: translateX(-100%);
  transition: transform 0.7s;
}

nav .drawer ul li {
  margin: 0 10px;
}

nav .backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00000066;
  z-index: 1;
}

@media (max-width: 1080px) {
  nav ul {
    display: none;
  }

  nav button {
    display: block;
  }

  nav .drawer {
    display: block;
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
  }

  nav .drawer ul {
    margin: 0;
    padding: 0;
    width: 140px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  nav .drawer ul li {
    margin: 10px 0;
  }
}

 .container {
  width: 100%;
  margin:0;
  padding: 0;
}


.header-background-url {
  width: 100%;
  height: 635px;
  background: url(/images/Pen.jpg) no-repeat center top;
  display: flex;  
  justify-content: space-around;
} 

.all-headers-div {
  width: 70%;
  margin: auto;
}

.header-title {
  color: white;
}

.all-headers-div .buttons {
  display: flex;
  align-items: center;
}

.buttons .button{
  width: 95px;
  height: 35px;
  font-size: .7em;
  text-transform: uppercase;
  margin: 0px 10px 0px 0px;
  color:white;
  border: 2px solid white;
  border-radius: 5px;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons .button:hover{
  cursor: pointer;
  background-color: rgb(20, 165, 145);
  border: 2px solid rgb(20, 165, 145);
}

 .dots {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.dots .dot {
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  border: 2px solid red;
  border-radius: 100%;
}
.dots .dot.active {
  background-color: white;
}



/*.section-title {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section-title .lists {
  display: flex;
  font-size: .8em;
}

.section-title .lists .before-title {
  width: 5px;
  height: 10px;
  background-color: gray;
  color: red;
}

.section-title .lists .description-list {
  width: 60%;
}

.section-title .lists .description-list .five-icons  {
  font-family: Verdana;
  font-size: 1.5em;
  display: flex;
}

.section-title .lists .description-list .five-icons a {
  width: 45px;
  height: 45px;
  color: white;
  text-decoration: none;
  background-color: rgb(179, 178, 178);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title .lists .description-list .five-icons a:hover {
  background-color: lightgray;
  cursor: pointer; 
}

.section-title .lists .number-list {
  width: 40%;
  margin: auto;
}
.section-title .lists .number-list .cube {
  width: 40px;
  height: 40px;
  margin: 17px;
  background-color: rgb(20, 165, 145);
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-around;
}

.team-title {
  width: 70%;
  margin: auto;
}

.team-title .team  {
  display: flex;
  
}
.team-title .team .members-name  {
  margin: 0px 25px 0px 0px;
  background-color: #e1e6ea;
  transition: 0.3s linear;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.team-title .team .members-name img  {
  max-width: 100%;
  height: auto;
}
.team-title .team .members-name:hover {
  opacity: 0.5;
  background-color: rgb(74, 74, 77);
  color: white;
}

.social-links ul {
  display: flex;
  flex-wrap: wrap;
  padding: 50% auto;
  justify-content: center;
}
.social-link-item {
  width: 50px;
  height: 50px;
  background-color: #3a454d;
  margin: 0 1px;
  list-style: none;
}

.social-link-item:hover {
  background-color: #5e717a;
}

.social-link-item a {
  padding-top: 12px;
  display: block;
  width: 100%;
  height: 100%;
}

.social-links {
  margin: 50% 25px;
  position: absolute;
  top: 0;
  width: 80%;
  display: none;
  justify-content: center;
  list-style: none;
  text-align: center;
}
.team-title .team .members-name h3,
.team-title .team .members-name p  {
  font-family:Arial;
  font-size: 1em;
  margin: 10px 0px 10px 10px;
  
}

.work-container {
  background-color: rgb(83, 83, 81);
}

.work-title {
  width: 70%;
  margin: auto;
  color: white;
}
.work-title .works {
  display: flex;
  
}
.work-title .works .work-picture {
  margin: 10px 20px 10px 0px;
  
}
.work-title .works img  {
  width: 295px;
  height: 300px;
}

.work-button {
  display: flex;
  justify-content: center;
}

.work-button div {
  font-size: .8em;
  width: 100px;
  height: 40px;
  border: 1px solid white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center
}
.work-button div:hover {
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(20, 165, 145);
  border: 1px solid rgb(20, 165, 145);
  border-radius: 3px;
}

.services-title {
  width: 70%;
  margin: auto;
}

.services-title .services {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-title .services .service-name {
  margin: 0px 20px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }

.features-container {
  background-color: rgb(83, 83, 81);
}

 .features-title{
  width: 70%;
  margin: auto;
  color: white;
}
.features {
  display:flex;
}

.features img  {
  width: 295px;
  height: auto;
}

.touch-title {
  width: 70%;
  margin: auto;
  display: flex;
}
.map {
  width: 100%;
  height: 300px;
} */














